*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	font-size: 15px;
	background-color: skyblue;
	color: ghostwhite;
	font-family: 'Oxygen', sans-serif;
}
#header-nav{
	background-color: #999999;
	text-align: left;
}
#nav-list{
	margin-top: 10px;
}
#nav-list a{
	text-align: center;
}
#nav-list a:hover{
	background: #E7E7E7;
}
#nav-list a span{
	font-size: 1.8em;
}

.navbar-header{
	align-content: right;
}

.navbar-brand{
	text-align: left;
}

.navbar-toggle{
	text-align: right;
}


h1{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
}

h3{
	text-align: center;
}

.item{
	position: relative;
	top: 0;
	left: 0;
	background-color: #999999;
}

.item p{
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: justify;
}
li a{
	text-decoration: none;
	color: white;
}
li{
	text-align: center;
}